/* *{
    outline: 3px solid limegreen !important;
}  */
/* debugger */
::-webkit-scrollbar {
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(84, 81, 81); 
    border-radius: 10px; 
}

::-webkit-scrollbar-track {
    background-color: darkgray; 
    border-radius: 10px;
}

body{
    font-family: "Poppins", sans-serif;
}
#error-text{
    color:red;
}
#simulate-here{
    position: relative;
}
.floor{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100px;
    box-sizing: border-box;
}
.floor-buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
    height: 100%;
    padding: 10px;
    width: 45px;
    box-sizing: border-box;
}
.floor-buttons button{
    cursor: pointer;
    background-color: silver;
    margin-bottom: 4px;
    color: white;
    border-radius: 5px;
    width: max-content;
    height: 25px;
    border: 2px solid white;
}
.floor-space{
    width: 100%;
    height: 100%;;
    background-color: rgb(237, 252, 252);
}
.floor-number{
    padding-left: 5px;
    width: 12px;
    text-align: justify;
    font-weight: bold;
}


/* lifts */
.lift{
    background-color: gray;
    height: 50px;
    width: 30px;
    display: flex;
    position: absolute;
    transition: transform 2s ease;
}

.lift-door{
    box-sizing: border-box;
    background-color: orange;
    border-right: 1px solid black;
    height: 100%;
    width: 30px;
    transition: width 2.5s ease ;
}

.door-opening{
    width : 0;
} 

.lift-parent-div{
    box-sizing: border-box;
    width: calc(100% - 64px) ;
    position: absolute;
    left: 63px;
    bottom: 0;
    height: 100%;
    overflow-x: auto;
}